*{
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

body{
  font-family: 'Spartan' ;
}

.main{
  display: flex;
  height: 88vh;


}

#try {
  display: none;
}

.name-of-user{
  color:  white;
  font-weight: bold;
  font-size: 13px;
}

.useri{
  margin-left: 200px;
  display: flex;
  width: 320px;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.useri h5{
  margin-right: 10px;
  font-size: 13px;
  color: #b1b0bc;
}


#top_text{
  margin-right: 400px;
  color: #b1b0bc;
  width: 180px;
  font-size: 15px;
}
.logo_holder{
  box-shadow: 2px 0px 7px 0px black;
  height: 100%;
  z-index: 4;
  width: 410px;
  flex-basis: 18%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.top-text-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 82%;
  height: 100%;
}
.menu{

  height: 91vh;
  flex-basis: 18%;
  display: flex;
  background: #4F4E5C;
  flex-direction: column;
  align-items: center;
  border-right: .1px solid #eee;



}
.main hr{
  color: #eee;
  opacity: 0.3;
  height: 0.1px !important;
  width: 100%;
  margin-top: 60px;
}

.content{
  display: flex;
  flex-direction: column;
  background: #f1f5f8;
  height: 88vh;
  flex-basis: 82%;
}

.blue-bar{

}

.button_holder{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;

}

.button_holder i{
  margin-left: 40px !important;
}

.button_holder h4{
  margin-left: 40px !important;
  font-size: 17px !important;
}

.button_holder button{
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px 0px;
  border: none;
  background: none;
  transition: .2s ease-in-out;
  color: #505050;
}

/* .button_holder button:hover{
  background-color:	#F8F8F8 !important;
  cursor: pointer;
} */

.active {
  color: white;
  background: linear-gradient(to right , #614AC9 , #53B5EC) !important ;
  box-shadow: 1px 1px 5px black;
}

.active_h4 {
  font-weight: bold !important;
  color: white !important;
}

.active_i {
  color: white !important;
}

/* .button_holder button:focus{
  color: white ;
  background: linear-gradient(to right , #614AC9 , #53B5EC) ;
  box-shadow: 1px 1px 5px black;

}
.button_holder button:focus h4{
  font-weight: bold;
  color: white;
}

.button_holder button:focus i {
  color: white;
} */



.menu_nav h3{
  margin-left: 120px;
  font-size: 25px;
  /* padding-top: 24px; */

}




.button_holder button h4{

  font-size: 18px;
  margin-left: 20px;
  color:#A0A0A0;
  font-weight: 200;
}

.button_holder button i{
  padding-right:10px;
  color:#A0A0A0;
  margin-left: 20px;
}

.view{
  text-decoration: none;
  margin-top: 40px;
  font-size: 13px !important;
  color: white !important;
  display: block;
  height: 20px;
  line-height: 20px;
}
.view:hover{
  border-bottom: 1px solid white;
}

.menu a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.menu_nav{
  background:#3B3A4A;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
  height: 70px;
  width: 100%;
  box-shadow: 10px 50px 50px black  !important;
}

.main_content
{
  /* background: yellow; */
  width: 100%;
  margin-top: 0px;
  height: 100%;
  overflow-y: scroll;
}

.logout_button
{
  margin-top: 150px;
  width: 210px;
  background: linear-gradient(to right , #614AC9 , #53B5EC);
  box-shadow: 1px 1px 5px black;
  height: 45px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  transition: .1s ease-in-out;

}

.logo_holder img{
  height: 37px;
}

.logout_button:hover{
  cursor: pointer;
  font-size: 19px;
  /* box-shadow: none; */
  border: 1px solid #aaa;


}

.footer_menu{
  display: flex;
  align-items: center;
  margin-top: 18px;

}

.footer_menu a{
  font-size: 13px;
  margin: 0px 10px;
  color: #8c8c8c;
}
